*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  height: 340vh;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(207, 207, 207, 0.883);
}

h3,
h4 {
  font-weight: normal;
}

.container {
  height: inherit;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header {
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #e2e2e2;
}

header #logo {
  height: inherit;
  width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

header #logo h1 {
  color: black;
  font-weight: 700;
  font-size: 2.5rem;
}

header #logo h1 span {
  font-weight: 300;
}

header #logo h2 {
  color: black;
  font-weight: 400;
  font-size: 0.9rem;
}

header #input-carrinho {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

header #lupa {
  height: inherit;
  width: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header #lupa input {
  height: 29px;
  width: 183px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 10px;
}

header #lupa img {
  height: 20px;
  width: 20px;
  position: relative;
  left: -30px;
  cursor: pointer;
}

header #carrinho {
  height: 29px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #carrinho:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header #carrinho img {
  height: 29px;
  width: 29px;
}

header #carrinho span {
  font-size: 0.9rem;
  text-transform: uppercase;
}

main {
  height: 2046px;
  width: 1200px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

main .main-container {
  height: inherit;
  width: 1064px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

main .main-container nav {
  height: 49px;
  width: inherit;
  border-radius: 3px;
}

main .main-container nav ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main-container nav ul li {
  height: inherit;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main-container nav ul li a {
  font-size: 0.9rem;
  color: black;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .main-container nav ul li a:hover {
  color: silver;
}

main .main-container #galeria {
  height: 501px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

main .main-container #galeria #banner-principal {
  height: inherit;
  width: 698px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

main .main-container #galeria #banner-principal img {
  height: inherit;
  width: inherit;
}

main .main-container #galeria #banners-secundarios {
  height: 241px;
  width: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 19px;
}

main .main-container #galeria #banners-secundarios #cima {
  height: inherit;
  width: inherit;
}

main .main-container #galeria #banners-secundarios #cima img {
  height: inherit;
  width: inherit;
}

main .main-container #galeria #banners-secundarios #baixo {
  height: inherit;
  width: inherit;
}

main .main-container #galeria #banners-secundarios #baixo img {
  height: inherit;
  width: inherit;
}

main .main-container h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 25px;
}

main .main-container #pratileira {
  height: 1100px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 25px;
}

main .main-container #pratileira h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
}

main .main-container #pratileira .box {
  height: 500px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

main .main-container #pratileira .box .produtos {
  height: inherit;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main-container #pratileira .box .produtos .imagem-produto,
main .main-container #pratileira .box .produtos img {
  height: 400px;
  width: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .main-container #pratileira .box .produtos .imagem-produto .imagem-produto,
main .main-container #pratileira .box .produtos .imagem-produto img:hover,
main .main-container #pratileira .box .produtos img .imagem-produto,
main .main-container #pratileira .box .produtos img img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .main-container #pratileira .box .produtos .titulo-produto {
  color: black;
  font-size: 1rem;
}

main .main-container #pratileira .box .produtos .discricao-produto {
  color: black;
  font-size: 0.8rem;
  font-style: italic;
}

main .main-container #pratileira .box .produtos button {
  height: 40px;
  width: 140px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .main-container #pratileira .box .produtos button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .main-container #box-card {
  height: 325px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 30px;
}

main .main-container #box-card .card {
  height: inherit;
  width: 335px;
}

main .main-container #box-card .card img {
  height: inherit;
  width: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .main-container #box-card .card img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer {
  height: 388px;
  width: 1200px;
  background-color: white;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1064px;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

footer .flex .rodape-main {
  height: 388px;
  width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

footer .flex .rodape-main h6 {
  color: black;
  font-size: 1.3rem;
  margin-top: 20px;
  font-weight: 400;
}

footer .flex .rodape-main ul {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 35px;
}

footer .flex .rodape-main ul li {
  height: 20px;
  width: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  margin-bottom: 15px;
}

footer .flex .rodape-main ul li:hover {
  text-decoration: underline;
}

footer .flex #rodape-main-contato {
  height: 184px;
  width: 188px;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

footer .flex #rodape-main-contato h6 {
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 10px;
}

footer .flex #rodape-main-contato .contatos {
  height: 25px;
  width: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 10px;
}

footer .flex #rodape-main-contato .contatos h6 {
  font-size: 0.8rem;
  color: black;
  font-weight: 600;
  margin-left: 10px;
}

footer .flex #rodape-main-contato .contatos h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .flex #rodape-main-contato .contatos img {
  height: 25px;
  width: 25px;
}

footer .flex #rodape-main-contato #redes-sociais {
  height: 159px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .flex #rodape-main-contato #redes-sociais img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */